<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>E-Ticaret | @ViewData["Title"]</title>
    @*<title>@AppSettings.Baslik | @ViewData["Title"]</title>*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- icon kütüphanesi: -->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">

            @*<div class="sidebar-header">*@
            <div class="sidebar-header baslik">

                <h3>E-Ticaret</h3>
                @*<a asp-action="Index" asp-controller="Home" class="a-sidebar"><h5><i class="fas fa-shopping-basket"></i> @AppSettings.Baslik</h5></a>*@

            </div>
            <ul class="list-unstyled components">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Yemek" class="a-sidebar"><i class="fas fa-clipboard-list"></i> Yemek Tarifleri</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @* HTML *@
                            @*<a class="a-navbar" href="/Database/Seed"> Verileri Sıfırla</a>*@

                            @* HTML Helper Klasik MVC ve MVC Core *@
                            @*@Html.ActionLink("Verileri Sıfırla", "Seed", "Database", null, new { @class = "a-navbar" })*@

                            @* Tag Helper MVC Core *@
                            @*<a asp-action="Seed" asp-controller="Database" class="a-navbar">Verileri Sıfırla</a>*@
                        </li>
                    }
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Malzemeler" class="a-sidebar"><i class="fas fa-clipboard-list"></i> Malzemeler</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Kullanici" class="a-sidebar"><i class="fas fa-users"></i> Kullanıcılar</a>
                        </li>
                    }
                }
            </ul>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <ul class="list-unstyled admin">
                    <p>Tanımlar</p>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Roller" class="a-sidebar"><i class="fas fa-bars"></i> Roller</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Ulkeler" class="a-sidebar"><i class="fas fa-bars"></i> Ülkeler</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Sehirler" class="a-sidebar"><i class="fas fa-bars"></i> Şehirler</a>
                    </li>
                </ul>

                <ul class="list-unstyled admin">
                    <p>Raporlar</p>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="UrunlerRapor" class="a-sidebar"><i class="fas fa-archive"></i> Ürünler Raporu</a>
                    </li>
                </ul>
            }
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler navbar-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon navbar-span"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            @*<a class="a-navbar" href="#"> Ana Sayfa</a>*@
                        </li>
                    </ul>
                    <div class="navbar-text">
                        <ul class="navbar-nav me-auto">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="a-navbar" asp-action="Kayit" asp-controller="Hesaplar"><i class="far fa-save"></i> Kayıt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="a-navbar" asp-action="Giris" asp-controller="Hesaplar"><i class="fas fa-sign-in-alt"></i> Giriş</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <div class="div-navbar">
                                        <span class="s-navbar"><i class="fas fa-user"></i> @User.Identity.Name</span>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="a-navbar" asp-action="Cikis" asp-controller="Hesaplar"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- icon kütüphanesi: -->
    <script src="~/lib/font-awesome/js/all.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
