@using Business.Models
@model IEnumerable<SehirModel>

@{
    ViewData["Title"] = "Şehir Listesi";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus"></i> Yeni Şehir</a>
</p>


@if (Model == null || Model.Count() == 0)
{
    <p class="bg-warning text-black">
        Kayıt bulunamadı
    </p>
}
else
{
    <p class="bg-info text-black">
        @Model.Count() kayıt bulundu
    </p>
}

<div style="overflow-y: auto; height: 450px; border-style: solid; border-width: 1px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Adi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ulke.Adi)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Adi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ulke.Adi)
                        </td>
                        <td style="text-align: right;">
                            <a asp-action="Edit" asp-route-id="@item.Id"> Düzenle</a>&nbsp;|&nbsp;
                            <a asp-action="Delete" asp-route-id="@item.Id"> Sil</a>
                            @*<a href="#" onclick="sehirleriSil(@item.Id);"></i> Sil</a>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@*BÖYLE YAPMAYA ÇALIŞTIM AMA Bİ TÜRLÜ OLMADIM BENDE YUKARIDAKİ GİBİ YAPTIM*@
@*@section Scripts {
    <link href="~/lib/AlertifyJS/css/alertify.min.css" rel="stylesheet" />
    <script src="~/lib/AlertifyJS/alertify.min.js"></script>

    <script>
        function sehirleriSil(id) {
            alertify.confirm("Uyarı!",
                "Bu şehri silmek istediğinize emin misiniz?",
                function () { // OK
                    //alertify.success("Silme başarılı.");
                    window.location.href = "/Sehirleri/Delete/" + id;
                },
                function () { // Cancel
                    //alertify.error("Silme iptal edildi.");
                }
            ).set('labels', { ok: 'Evet', cancel: 'Hayır' });
        }
    </script>
}*@